
<!-- <p>{{like}}</p> -->
    <!-- <div class="final" *ngFor="let object of movies">
        <img src="{{object.poster}}">
        <div id="names">
            <p id="heading">{{object.name}} </p>
            <div>
                <button (click)="increment()">👍 {{object.like}}</button>
                <button (click)="decrement()">👎 {{object.dislike}}</button>
            </div>
        </div>

        <p id="parah">{{object.summary}}</p>

         -->
    <!-- </div> --> -->

<!-- (click)="increment()" -->